<html>
   <body>
 
      <form class="formPretty" action="/addrec" method="POST">
        <h3>Dog Intake Information</h3>

        <label for="PrimaryColor">PrimaryColor</label>
        <select id="PrimaryColor" name="PrimaryColor2">
            <option value="BLACK">BLACK</option>
            <option value="BLUE">BLUE</option>
            <option value="BRINDLE">BRINDLE<BLACK/option>
            <option value="BROWN">BROWN</option>
            <option value="MERLE">MERLE</option>
            <option value="RED">RED</option>
            <option value="SABLE">SABLE</option>
            <option value="TAN">TAN</option>
            <option value="TICK">TICK</option>
            <option value="TRICOLOR">TRICOLOR</option>
            <option value="WHITE">WHITE</option>
            <option value="YELLOW">YELLOW</option>  
            <option value="ANGIE">ANGIE</option>
        </select>  
    
        <br>
        <label for="BreedCategory">BreedCategory</label>
            <select id="BreedCategory" name="BreedCategory2">
            <option value="MIX">MIX</option>
            <option value="PURE">PURE</option>
            <option value="TWO">TWO</option>   
            </select>
    
            <br>
            <label for="IntakeStatus">IntakeStatus</label>
            <select id="IntakeStatus" name="IntakeStatus2">
            <option value="NORMAL">NORMAL</option>  
            <option value="AGGRESSIVE">AGGRESSIVE</option>
            <option value="PREGNANT">PREGNANT</option>
            <option value="SICK">SICK</option>
            <option value='OTHER'>OTHER</option>
            </select>
            
            <br>
            <label for="PetAgeCategory">PetAgeCategory</label>
            <select id="PetAgeCategory" name="PetAgeCategory2">
                <option value='BABY'>BABY</option>
                <option value='YOUNG'>YOUNG</option>
                <option value='ADULT'>ADULT</option>
                <option value='SENIOR'>SENIOR</option>
            </select>
    
            <br>
            <label for="Sex">Sex</label>
            <select id="Sex" name="Sex2">
                <option value='MALE'>MALE</option>
                <option value='FEMALE'>FEMALE</option>
            </select>
    
            <br>
            <label for="PetBreed">PetBreed</label>
            <select id="PetBreed" name="PetBreed2">
                <option value="AMERICAN BULLDOG">AMERICAN BULLDOG</option>
                <option value="AMERICAN STAFFORDSHIRE TERRIER">AMERICAN STAFFORDSHIRE TERRIER</option>
                <option value="AUSTRALIAN CATTLE DOG">AUSTRALIAN CATTLE DOG</option>
                <option value="AUSTRALIAN SHEPHERD">AUSTRALIAN SHEPHERD</option>
                <option value="BEAGLE">BEAGLE</option>  
                <option value="BORDER COLLIE">BORDER COLLIE</option>
                <option value="BOXER">BOXER</option>
                <option value="CHIHUAHUA">CHIHUAHUA</option>
                <option value="CHOW CHOW">CHOW CHOW</option>
                <option value="COCKER SPANIEL">COCKER SPANIEL</option>
                <option value="DACHSHUND">DACHSHUND</option>
                <option value="GERMAN SHEPHERD DOG">GERMAN SHEPHERD DOG</option>
                <option value="GOLDEN RETRIEVER">GOLDEN RETRIEVER</option>
                <option value="JACK RUSS TER">JACK RUSS TER</option>
                <option value="LABRADOR RETRIEVER">LABRADOR RETRIEVER</option>
                <option value="MINIATURE PINSCHER">MINIATURE PINSCHER</option>
                <option value="PIT BULL TERRIER">PIT BULL TERRIER</option>
                <option value="POMERANIAN">POMERANIAN</option>
                <option value="POODLE - MINIATURE">POODLE - MINIATURE</option>
                <option value="PUG">PUG</option>
                <option value="ROTTWEILER">ROTTWEILER</option>
                <option value="SCHNAUZER - MINIATURE">SCHNAUZER - MINIATURE</option>
                <option value="SHIH TZU">SHIH TZU</option>
                <option value="SIBERIAN HUSKY">SIBERIAN HUSKY</option>
                <option value="YORKSHIRE TERRIER">YORKSHIRE TERRIER</option>  
                <option value="OTHER">OTHER</option>    
            </select>
        <br>
        <br>
        <input type="submit" value="Submit to SQLite DB" style="font-size: 15px;">
      </form>
      
   </body>
</html>