<!doctype html>
<html>
   <body>
<!--    
      <table border = 1>
         <thead>
            <td>Dog Color</td>
            <td>Dog Category>/td<
            <td>Dog Behavior</td>
            <td>Dog Age</td>
            <td>Dog Sex</td>
            <td>Dog Breed</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["PrimaryColor"]}}</td>
               <td>{{row["BreedCategory"]}}</td>
               <td> {{row["IntakeStatus"]}}</td>
               <td>{{row['PetAgeCategory']}}</td>
               <td>{{row['Sex']}}</td>	
               <td>{{row['TopBreed']}}</td>		
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a> -->
      <p> New additions: {{ rows }} </p>
      <p> Deleted: {{ rows2 }} </p>
      
   </body>
</html>


